* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navbar {
  width: 1340px;
  height: 154px;
  border-radius: 40px;
  border: 0px solid #000;
  background: rgba(135, 135, 135, 0.13);
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.25);
  margin: 2rem auto;
}

.logo {
  width: 215.185px;
  height: 82.84px;
}

#navbarNav {
  justify-content: flex-end;
  margin: 1rem auto;
}

#navbarNav img {

  width: 83px;
  height: 79px;
}